<!DOCTYPE html>
<html lang="es">
  <head>
    {% load staticfiles %}
    {% block extrahead %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel='stylesheet' type='text/css' href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}" />
    <script src="{% static 'jquery.dropdown.min.js' %}"></script>
    {% endblock %}
    {% load bootstrap_themes %}
    {% bootstrap_styles theme='spacelab' type='css' %}
    {% bootstrap_script use_min=True %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    {% load application_filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'application.js' %}"></script>

    <meta charset="utf-8">
    <title>{{ ''|application_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="logo-header" src="{% static 'images/logo.png' %}">
          <span class="navbar-brand">
            <p>{{ ''|application_title }}</p>
            <small>{{ ''|application_subtitle }}</small>
          </span>
        </div>

        {% if user.is_authenticated %}
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-expanded="false">{{ _('toners') }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'toners_por_modelos' %}">{{ _('toners_by_models') }}</a></li>
                <li><a href="{% url 'toners_por_estados' %}">{{ _('toners_by_state') }}</a></li>
                <li><a href="{% url 'toners' %}">{{ _('toner_by_id') }}</a></li>
              </ul>
            </li>
            <li>
              <form method="post" action="{% url 'search' %}"
                    class="navbar-form navbar-left" id="search_form">
                {% csrf_token %}
                <input class="form-control" name="search_field"
                       placeholder="{{ _('identifier') }}" type="text"
                       value="{{ text_search }}">&nbsp;&nbsp;
                <i class="glyphicon glyphicon-search" style="right:40px;"></i>
              </form>
            </li>
            <li style="margin:6px 50px 0px -20px; ">
              <form action="{%url 'filtrar_listado'%}" data-remote="true" method="post">
                {% csrf_token %}
                <select class="form-control" id="select_state" name="state">
                  <option value=''> ----  </option>
                  {% for state in states %}
                  <option value='{{state.id}}'
                          {% ifequal state.id|add:0 current_state|add:0 %} selected="selected" {%endifequal%}>{{state.nombre}}</option>
                  {% endfor %}
                </select>
              </form>
            </li>
            <li style="margin:6px 50px 0px -20px; ">
              <form action="{%url 'filtrar_listado'%}" data-remote="true" method="post">
                {% csrf_token %}
                <select class="form-control" id="select_provider" name="provider">
                  <option value='' selected="selected"> ---- </option>
                  {% for provider in providers %}
                  <option value='{{provider.id}}'
                          {% ifequal provider.id|add:0 current_provider|add:0 %} selected="selected" {%endifequal%}>{{provider.nombre}}</option>
                  {% endfor %}
                </select>
              </form>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" title="{{ _('registered_user') }}">
                <i class="glyphicon glyphicon-user"></i> {{ user.username }}</a>
            </li>
            <li>
              <a href="{% url 'logout' %}" title="{{ _('close_session') }}">
                <i class="glyphicon glyphicon-log-out"></i></a>
            </li>
            <li style="margin-left:10px;"></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>
    
    <div class="container-fluid">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-dismissible alert-{{message.tags}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      {% if form.errors %}
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {%  trans field.name %}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}


      {% block content %}
      {% endblock %}
      
      {% include "_footer.html" %}

    </div>


  </body>
</html>
