{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<h2>Login</h2>
<form action="{% url 'login' %}" method="post">
{% csrf_token %}
  <div class="form_settings">
    <p><span>Usuario</span>
    <input type="text" name="username" value="" /></p>
    <p><span>Contraseña</span>
    <input type="password" name="password" value="" /></p>
    <p style="padding-top: 15px"><span>&nbsp;</span>
    <input class="submit" type="submit" name="name" value="Iniciar sesión" /></p>
  </div>
</form>
{% endblock %}


