{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  {% for errors in form.errors %}
  <p>{{ errors }}</p>
  {% endfor %}
{% endif %}

{% load application_filters %}

<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="forms">Toner </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="well bs-component">
        <form class="form-horizontal" action="" method="post">
          {% csrf_token %}
          <input type='hidden' name="id" value="{{ toner.id }}" />
          <fieldset>
            <legend>{{ toner.identificador }}</legend>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Identificador</label>
              <div class="col-sm-4">
                <input class="form-control" readonly="true" type="text" name="identificador"
                       id="identificador" value="{{ toner.identificador }}"/>
              </div>
            </div>

            <div class="form-group">
              <label for="select" class="col-sm-2 control-label">Estado</label>
              <div class="col-sm-4">
                <select class="form-control" id="estado_id" name="estado_id">
                  <option value='0'>-- No asignado --</option>
                  {% for estado in estados %}
                  <option value="{{estado.id}}" {% if estado.id == estado_actual.estado_id %}selected="selected"{% endif %}> {{estado.nombre}}</option>
                  {% endfor %}
                </select>
              </div>
              <label class="col-sm-2 control-label" for="textinput">Recargas</label>
              <div class="col-sm-4">
                <input class="form-control" readonly="true" type="text" name="modelo"
                       id="modelo" value="{{ toner.recargas }}" />

              </div>
            </div>

            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Marca</label>
              <div class="col-sm-4">
                <input class="form-control" readonly="true" type="text" name="marca"
                       id="marca" value="{{ toner.marca }}" />
              </div>

              <label class="col-sm-2 control-label" for="textinput">Modelo</label>
              <div class="col-sm-4">
                <input class="form-control" readonly="true" type="text" name="modelo"
                       id="modelo" value="{{ toner.modelo }}" />

              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Impresora</label>
              <div class="col-sm-4">
                <input class="form-control" readonly="true" type="text" name="impresora"
                       id="impresora" value="{{ toner.impresora.nombre }}" />
              </div>

              <label class="col-sm-2 control-label" for="textinput">Proveedor</label>
              <div class="col-sm-4">
                <input class="form-control" readonly="true" type="text" name="proveedor"
                       id="proveedor" value="{{ toner.proveedor.nombre }}" />
              </div>
            </div>


            
            <div class="form-group">
              <label for="descripcion" class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"  name="descripcion"
                          id="descripcion">{{ toner.descripcion }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Actualizar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
