{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  {% for errors in form.errors %}
  <p>{{ errors }}</p>
  {% endfor %}
{% endif %}

<h1>Toner </h1>
<form action="" method="post">
  {% csrf_token %}
  <input type='hidden' name="id" value="{{ toner.id }}" />
  <div class="form_settings">
    <p><span>Identificador</span>
    <input class="contact" readonly="true" type="text" name="identificador"
           value="{{ toner.identificador }}"/>
    </p>
    <p><span>Marca</span>
    <input class="contact" readonly="true" type="text" name="marca"
           value="{{ toner.marca }}" />
    </p>
    <p><span>Modelo</span>
    <input class="contact" readonly="true" type="text" name="modelo"
           value="{{ toner.modelo }}" />
    </p>
    <p><span>Impresora</span>
    <input class="contact" readonly="true" type="text" name="modelo"
           value="{{ toner.impresora.nombre }}" />
    </p>
    <p><span>Proveedor</span>
    <input class="contact" readonly="true" type="text" name="modelo"
           value="{{ toner.proveedor.nombre }}" />
    </p>

    <p><span>Estado</span>
    <select id="id" name="estado_id">
      <option value='0'>-- No asignado --</option>
      {% for estado in estados %}
        <option value="{{estado.id}}"
        {% if estado.id == estado_actual.estado_id %}selected="selected"{% endif %}>
        {{estado.nombre}}
        </option>
      {% endfor %}
    </select>
    </p>

    <p>
      <span>Recargado?</span>
      <input class="checkbox" name="name" value="" type="checkbox"
             {% if estado_actual.fue_recargado %}checked="True"{% endif %} >
    </p>
            
    <p style="padding-top: 15px"><span>&nbsp;</span>
      <input class="submit" type="submit" name="contact_submitted" value="Modificar" />
    </p>
  </div>
</form>

{% endblock %}
