{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  {% for errors in form.errors %}
  <p>{{ errors }}</p>
  {% endfor %}
{% endif %}

<h2>Toners</h2>

<table style="width:100%; border-spacing:0;">
  {% if toners %}
    <tr>
      <th>Identificador</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Estado</th>
      <th></th>
    </tr>
    {% for toner in toners %}
    <tr>
      <td><a href="{% url 'toner' toner.id %}">{{ toner.identificador }}</a></td>
      <td>{{ toner.marca }}</td>
      <td>{{ toner.modelo }}</td>
      <td>{{ toner.ultimo_estado.nombre }}</td>
      <td>
        <a href="{% url 'toner_detail' toner.id %}"><img src="/static/style/toner_detail.png"></a>
      </td>
    </tr>
    {% endfor %}
  {% else %}
     <p>No se encontraron resultados</p>
 {% endif %}
     
</table>

<div class="pagination">
    <span class="step-links">
        {% if toners.has_previous %}
            <a href="?page={{ toners.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ toners.number }} of {{ toners.paginator.num_pages }}.
        </span>

        {% if toners.has_next %}
            <a href="?page={{ toners.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}


